@page "/add"

@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using DocumentApp.DTO
@inject NavigationManager _nav

<PageTitle>Добавление публикации</PageTitle>

<div class="MianContainer">
    <div class="MainInfo Info">
        <h3>Основная информация</h3>

        <div class="block__info">
        <p>Название</p>
        <input @bind="title" />
        </div>
        <div class="block__info">
        <p>Год публикации</p>
        <input @bind="publishingYear" />
        </div>

        <div class="block__info">
        <p>Тип публикации</p>
        <select @bind="publicationType">
            @foreach (var _publicationType in
            Enum.GetValues(typeof(PublicationType)))
            {
                <option value="@_publicationType">@_publicationType</option>
            }
        </select>
        </div>
    </div>
    <div class="AutorInfo Info">
        <h3>Авторы</h3>
        <div class="block__info">
        <p>Фамилия</p>
        <input @bind="currentLastName" />
        </div>
        <div class="block__info">
        <p>Имя</p>
        <input @bind="currentFirstName" />
        </div>
        <div class="block__info">
        <p>Отчество</p>
        <input @bind="currentPatronimicName" />
        </div>
        <div class="block__info">
        <p>E-mail</p>
        <input @bind="currentEmail" />
        </div>
        <p>Добавленные авторы</p>

        <ul>
            @foreach (AuthorDto author in authors)
            {
                <li>
                    @author.LastName @author.FirstName @author.PatronimicName
                    <button @onclick="() => RemoveAuthor(author)">
                        Удалить автора
                    </button>
                </li>
            }
        </ul>

        <button @onclick="AddAuthor">Добавить автора</button>
    </div>
    <div class="IndexInfo Info">
        <h3>Индексация</h3>
        <div class="block__info">
        <p>Индексатор</p>
        <select @bind="currentIndexator">
            @foreach (var indexatorType in Enum.GetValues(typeof(Indexator)))
            {
                <option value="@indexatorType">@indexatorType</option>
            }
        </select>
        </div>

        <div class="block__info">
        <p>URL записи об индексе</p>
        <input type="url" @bind="currentURL" />
        </div>
        <div class="block__info">
        <p>Добавленные записи об индексе</p>

        <ul>
            @foreach (CitationIndexDto index in indices)
            {
                <li>
                    @Enum.GetName(index.Indexator) @index.URL
                    <button @onclick="() => RemoveIndex(index)">
                        Удалить запись об индексе
                    </button>
                </li>
            }
        </ul>
        </div>
        <button @onclick="AddIndex">Добавить индекс</button>
    </div>
    <div class="ConferencInfo Info">
        <h3>Представление на конференции</h3>
        <div class="block__info">
        <p>Краткое название</p>
        <input @bind="currentShortName" />
        </div>
        <div class="block__info">
        <p>Полное название</p>
        <input @bind="currentFullName" />
        </div>
        <div class="block__info">
        <p>Дата начала</p>
        <input type="date" @bind="currentStartDate" />
        </div>
        <div class="block__info">
        <p>Дата окончания</p>
        <input type="date" @bind="currentEndDate" />
        </div>
        <div class="block__info">
        <p>Тип конференции</p>
        <select @bind="currentType">
            @foreach (var conferenceType in
            Enum.GetValues(typeof(ConferenceType)))
            {
                <option value="@conferenceType">@conferenceType</option>
            }
        </select>
        </div>
        <div class="block__info">
        <p>Место проведения</p>
        </div>
        <input @bind="currentLocation" />

        <button @onclick="AddConference">Добавить конференцию</button>

        @if (conference != null)
        {
            <p>@conference.ShortName</p>
            <button @onclick="RemoveConference">Удалить конференцию</button>
        }
    </div>
</div>

<div>
    <button class="AddSource__Record"
            @onclick="async () => await AddPublication()">
        Добавить
    </button>
</div>

@code
{
    public List<AuthorDto> authors = new();
    public List<CitationIndexDto> indices = new();
    public ConferenceDto conference = null!;

    public string title { get; set; } = string.Empty;
    public int publishingYear { get; set; }
    public PublicationType publicationType { get; set; }

    public string currentFirstName { get; set; } = string.Empty;
    public string currentLastName { get; set; } = string.Empty;
    public string? currentPatronimicName { get; set; }
    public string currentEmail { get; set; } = string.Empty;

    public Indexator currentIndexator { get; set; }
    public string currentURL { get; set; } = string.Empty;

    public string currentShortName { get; set; } = string.Empty;
    public string currentFullName { get; set; } = string.Empty;
    public DateTime currentStartDate { get; set; } = DateTime.Now;
    public DateTime currentEndDate { get; set; } = DateTime.Now;
    public ConferenceType currentType { get; set; }
    public string currentLocation { get; set; } = string.Empty;

    public void AddAuthor()
    {
        AuthorDto author = new()
        {
            Id = Guid.NewGuid(),
            FirstName = currentFirstName,
            LastName = currentLastName,
            PatronimicName = currentPatronimicName,
            Email = currentEmail
        };

        authors.Add(author);

        currentFirstName = string.Empty;
        currentLastName = string.Empty;
        currentPatronimicName = string.Empty;
        currentEmail = string.Empty;
    } 

    public void RemoveAuthor(AuthorDto author)
    {
        if (authors.Contains(author))
        {
            authors.Remove(author);
        }
        else
        {
            throw new NullReferenceException();
        }
    }

    public void AddIndex()
    {
        CitationIndexDto index = new()
        {
            Indexator = currentIndexator,
            URL = new Uri(currentURL)
        };

        indices.Add(index);

        currentURL = null!;
    }

    public void RemoveIndex(CitationIndexDto index)
    {
        if (indices.Contains(index))
        {
            indices.Remove(index);
        }
        else
        {
            throw new NullReferenceException();
        }
    }

    public void AddConference()
    {
        conference = new()
        {
            Id = Guid.NewGuid(),
            ShortName = currentShortName,
            FullName = currentFullName,
            StartDate = currentStartDate,
            EndDate = currentEndDate,
            Type = currentType,
            Location = currentLocation
        };
    }

    public void RemoveConference()
    {
        conference = null!;
        currentShortName = string.Empty;
        currentFullName = string.Empty;
        currentStartDate = DateTime.Now;
        currentEndDate = DateTime.Now;
        currentLocation = string.Empty;
    }

    public async Task AddPublication()
    {
        PublicationDto publication = new()
        {
            Id = Guid.NewGuid(),
            Title = title,
            PublishingYear = publishingYear,
            PublicationType = publicationType
        };

        foreach (AuthorDto author in authors)
        {
            author.PublicationId = publication.Id;
            publication.Authors.Add(author);
        }

        foreach (CitationIndexDto index in indices)
        {
            index.PublicationId = publication.Id;
            publication.CitationIndices.Add(index);
        }

        if (conference != null)
        {
            conference.PublicationId = publication.Id;
            publication.Conference = conference;
        }

        await SendPostRequestWithBodyAsync(publication);
        _nav.NavigateTo("");
    }

    public async Task SendPostRequestWithBodyAsync(PublicationDto publicationDto) 
        => await Http.PostAsJsonAsync<PublicationDto>("https://localhost:7204/api/Edit", publicationDto);
}