@inject HttpClient Http

<div class="publication-card">
    Полная информация:
    
    <p>Название: @_publication.Title</p>
    <p>Год публикации: @_publication.PublishingYear</p>
    <p>Тип: @Localization.Translate(_publication.PublicationType)</p>
    <p>Статус: @Localization.Translate(_publication.PublicationStatus)</p>

    Авторы:
    
    @foreach (AuthorDto author in _publication.Authors)
    {
        <p>@author.LastName @author.FirstName @author.PatronimicName (@author.Email)</p>
    }
    
    Индексация:

    @foreach (CitationIndexDto index in _publication.CitationIndices)
    {
        <p>Индексатор: @index.Indexator</p>
        <p>URL: @index.URL</p>
    }
    
    Представление на конференции:
    
    @if (_publication.Conference != null)
    {
        <p>Краткое название: @_publication.Conference.ShortName</p>
        <p>Полное название: @_publication.Conference.FullName</p>
        <p>Место проведения: @_publication.Conference.Location</p>
        <p>Даты проведения: @_publication.Conference.StartDate.ToString("d")—@_publication.Conference.EndDate.ToString("d")</p>
        <p>Тип: @Localization.Translate(_publication.Conference.Type)</p>
    }
</div>

@code {
    PublicationDto _publication = new();

    [Parameter] 
    public Guid PublicationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadPublication();
    }

    private async Task LoadPublication()
    {
        _publication = await Http.GetFromJsonAsync<PublicationDto>($"https://localhost:7204/api/View/{PublicationId.ToString()}") ?? null!;
    }
}